<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link href="/css/output.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="overflow-x-hidden">
    <div id="nav" class="w-[100vw] h-[10vh] bg-slate-100 flex justify-between items-center">
        <div id="left" class="w-[30vw]  flex justify-evenly items-center">
          <img id="title" class="w-[10vw] h-[10vh] " src="Assets/organic-store-logo5.svg" alt="icon">
          <p class="hover:text-oliveGreen cursor-pointer"><a href="everything.html">Everything</a></p>
          <p class="hover:text-oliveGreen cursor-pointer"><a href="groceries.html">Groceries</a></p>
          <p class="hover:text-oliveGreen cursor-pointer"> <a href="juice.html">Juice</a></p>
        </div>
        <div id="right" class="w-[30vw] h-[100%] flex justify-evenly items-center">
          <p class="hover:text-oliveGreen cursor-pointer about"><a href="about.html">About</a></p>
          <p class="hover:text-oliveGreen cursor-pointer contact"><a href="contact.html">Contact</a></p>
          <p class="text-oliveGreen cursor-pointer font-semibold">$0.00</p>
          <img class="h-[5vh]" src="Assets/icons8-basket-50.png" alt="icon2">
          <a href="profile.html"><img class="h-[5vh]" src="Assets/profile-user.png" alt="icon3"></a>
        </div>
    
      </div>

      <!-- body -->
       <!-- div1 -->
        <div class="w-[100vw] h-[20vh] flex flex-col justify-center items-center bg-orange-50">
            <h1 class="text-5xl font-bold text-black">About Us</h1>
        </div>
          <div class="w-[100vw] flex justify-center items-center">
              <img  src="Assets/basil-leaf.png" alt="leaf">
           </div>
           <div class="w-[100vw] h-[80vh] flex  justify-evenly items-center">
            <div class="w-[40vw] flex flex-col justify-center items-center">
            <h2 class="text-4xl text-black font-semibold">We Are Your Favourite Store.</h2>
            <br>
            <br>
            <h3 class="text-xl text-slate-700 font-normal ">Tuas quisquam quo gravida proident harum, aptent ligula anim consequuntur, ultrices mauris, nunc voluptates lobortis, varius, potenti placeat! Fuga omnis. Cubilia congue. Recusandae. Vero penatibus quasi! Nostra tenetur dignissimos ultrices natus distinctio ultrices consequuntur numqu.</h3>
            <br>
            <h3 class="text-xl text-slate-700 font-normal">Officiis fuga harum porro et? Similique rhoncus atque! Netus blanditiis provident nunc posuere. Rem sequi, commodo, lorem tellus elit, hic sem tenetur anim amet quas, malesuada proident platea corrupti expedita.</h3>
        </div>
        <div>
            <img class="w-[35vw] h-[45vh]" src="Assets/aboutimg1.jpg" alt="aboutimg1">
        </div>
    </div>

    <!-- div2 -->
    <div class="w-[100vw] h-[20vh] flex justify-evenly items-center bg-black">
              <label>
                <h2 class="text-3xl font-bold text-white">Numbers Speak For </h2>
                <h2 class="text-3xl font-bold text-white">Themselves!</h2>
              </label>

              <label>
                <h2 class="text-4xl font-bold text-white">5,000+</h2>
                <h2 class="text-3xl font-normal text-white">Curated Products</h2>
              </label>

              <label>
                <h2 class="text-4xl font-bold text-white">800+</h2>
                <h2 class="text-3xl font-normal text-white">Rate Products</h2>
              </label>

              <label>
                <h2 class="text-4xl font-bold text-white">40+</h2>
                <h2 class="text-3xl font-normal text-white">Product Categories</h2>
              </label>
     </div>

     <!-- div3 -->

     <div class="w-[100vw] h-[150vh] bg-cover bg-right-bottom flex justify-evenly items-center"
     style="background-image: url(Assets/5yhoof9q.png);">
              <div class="w-[35vw] h-[120vh] flex flex-col justify-center items-center bg-slate-100 rounded-[15px]">
                        <img class="rounded-[15px]" src="Assets/aboutimg2.jpg" alt="aboutimg2">
                        <img class="w-[12vw] h-[15vh] mb-0" src="Assets/goldstar.webp" alt="aboutimg3"> 
                        <h3 class="text-xl text-slate-700 font-normal pl-6 pr-6 mt-0">Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</h3>  
                        <br>
                        <div class="w-[20vw] h-10vh flex justify-center items-center">
                            <img class="w-[80px] h-[60px] " src="Assets/prof3.png" alt="img5">
                            <p class="text-[16px] font-medium">Kamla Devinson</p>
                          </div>
                </div>

                <div class="w-[50vw] h-[80vh] flex flex-col justify-center items-center">
                        <div class="w-[45vw] h-[20vh] flex justify-evenly items-center">
                                    <img class="w-[146.99px] h-[92px]" src="Assets/organic-badge-freeimg.png" alt="badge">
                                    <label> 
                                        <h2 class="text-4xl text-black font-semibold">Certified Products</h2>
                                        <br>
                                        <h3 class=" text-xl text-slate-400">Click edit button to change this text. Lorem ipsums</h3>
                                        <h3 class=" text-xl text-slate-400">dolor sit amet</h3>
                                    </label>
                        </div>
                        <div class="w-[35vw] h-[80vh] flex flex-col justify-center items-center">
                                <h2 class="text-4xl font-semibold ">We Deal With Various Quality Organic Products!</h2>
                                <br>
                                <img src="Assets/logo-leaf-new.png" alt="">
                                <br>
                                <div class="w-[35vw] h-auto flex justify-evenly items-center">
                                    <label>
                                      <span class="flex justify-between items-center w-[7vw]"><img src="Assets/checkmark.png" alt="check">Fresh fruits</span>
                                      <span class="flex justify-between items-center w-[7vw]"><img src="Assets/checkmark.png" alt="check">Dry fruits</span>  
                                      <span class="flex justify-between items-center w-[10vw]"><img src="Assets/checkmark.png" alt="check">Fresh vegetables</span>  
                                      <span class="flex justify-between items-center w-[10vw]"><img src="Assets/checkmark.png" alt="check">Dried vegetables</span>  
                                    </label>

                                    <label>
                                        <span class="flex justify-between items-center w-[10vw]"><img src="Assets/checkmark.png" alt="check">Beauty products</span>
                                        <span class="flex justify-between items-center w-[10vw]"><img src="Assets/checkmark.png" alt="check">Milk products</span>  
                                        <span class="flex justify-between items-center w-[10vw]"><img src="Assets/checkmark.png" alt="check">Organic honey</span>  
                                        <span class="flex justify-between items-center w-[10vw]"><img src="Assets/checkmark.png" alt="check">Organic tea</span>  
                                      </label>
                                    
                                </div>
                                <br>
                                <br> 
                                <button class="w-[15vw] h-[8vh] bg-oliveGreen flex justify-center items-center rounded-[15px] hover:bg-normgreen">
                                    <img class="w-8 h-8" src="Assets/icons8-cart-50.png" alt="icon5">
                                    <p class="text-white text-xl font-semibold">Start Shopping</p>
                                  </button>
                        </div>
                       
                </div>

    </div>

    <!-- div4 -->
    <div class="w-[100vw] h-[120vh] bg-black mt-10 flex justify-evenly items-center">
        <div class="w-[40vw] h-[100vh]">
          <img class="w-[15vw] h-[15vh] " src="Assets/organic-store-white-logo.png" alt="icon">
          <br>
          <br>
          <br>
          <h1 class="text-2xl font-extrabold text-slate-300">Maecenas mi justo, interdum at consectetur vel,</h>
            <h1 class="text-2xl font-extrabold text-slate-300">tristique et arcu. Ut quis eros blandit, ultrices diam,</h>
              <h1 class="text-2xl font-extrabold text-slate-300">elementum ex. Suspendisse quis faucibus urna.</h>
                <h1 class="text-2xl font-extrabold text-slate-300">Suspendisse pellentesque.</h>
        </div>
    
        <div class="w-[10vw] h-[100vh] ">
          <h2 class="text-[26px] font-bold text-white">Quick Links</h2>
          <br>
    
          <h1 class="text-2xl font-medium text-slate-300">About</h>
            <h1 class="text-2xl font-medium text-slate-300">Cart</h>
              <h1 class="text-2xl font-medium text-slate-300">Checkout</h>
                <h1 class="text-2xl font-medium text-slate-300">Contact</h>
                  <h1 class="text-2xl font-medium text-slate-300">Home</h>
                    <h1 class="text-2xl font-medium text-slate-300">Myaccount</h>
                      <h1 class="text-2xl font-medium text-slate-300">Shop</h>
                        <br>
                        <br>
                        <h2 class="text-[26px] font-bold text-white">Site Links</h2>
                        <br>
    
                        <h1 class="text-2xl font-medium text-slate-300">Privacy Policy</h>
                          <h1 class="text-2xl font-medium text-slate-300">Shipping Details</h>
                            <h1 class="text-2xl font-medium text-slate-300">Offers Coupons</h>
                              <h1 class="text-2xl font-medium text-slate-300">Terms & Conditions</h>
    
    
        </div>
    
        <div class="w-[20vw] h-[100vh] ">
          <h2 class="text-[26px] font-bold text-white">Download Our Mobile App</h2>
          <br>
    
          <h1 class="text-2xl font-medium text-slate-300">Lorem ipsum dolor sit amet,</h>
            <h1 class="text-2xl font-medium text-slate-300">consectetur adipiscing elit. Donec</h>
              <h1 class="text-2xl font-medium text-slate-300">aliquam gravida sollicitudin. Praesent</h>
                <h1 class="text-2xl font-medium text-slate-300">porta enim mi, non tincidunt libero</h>
                  <h1 class="text-2xl font-medium text-slate-300">interdum sit amet.</h>
                    <br>
                    <br>
                    <h2 class="text-[26px] font-bold text-white">Quick Links</h2>
                    <br>
                    <h1 class="text-2xl font-medium text-slate-300">Know Us More</h1>
                      <h1 class="text-2xl font-medium text-slate-300">Visit Store</h1>
                        <h1 class="text-2xl font-medium text-slate-300">Let’s Connect</h1>
                          <h1 class="text-2xl font-medium text-slate-300">Locate Stores</h1>
    
                            <div class="flex justify-evenly items-center w-[20vw] mt-10 ">
                              <img class="w-[128.9px] h-[37.58]" src="Assets/play-store.png" alt="img6">
                              <img class="w-[128.9px] h-[37.58]" src="Assets/app-store.png" alt="img7">
                            </div>
        </div>
      </div>
      
      <div class="w-[100vw] h-[15vh] flex justify-center items-center bg-black mt-[1px]">
        <h1 class="text-2xl font-medium text-slate-300">Copyright © 2024 | Organic Store</h1>
      </div>
    
      <script src="whole.js"></script>
</body>
</html>