<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Us</title>
  <link href="/css/output.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="overflow-x-hidden">
  <div id="nav" class="w-[100vw] h-[10vh] bg-slate-100 flex justify-between items-center">
    <div id="left" class="w-[30vw]  flex justify-evenly items-center">
      <img id="title" class="w-[10vw] h-[10vh] " src="Assets/organic-store-logo5.svg" alt="icon">
      <p class="hover:text-oliveGreen cursor-pointer"><a href="everything.html">Everything</a></p>
      <p class="hover:text-oliveGreen cursor-pointer"><a href="groceries.html">Groceries</a></p>
      <p class="hover:text-oliveGreen cursor-pointer"><a href="juice.html">Juice</a></p>
    </div>
    <div id="right" class="w-[30vw] h-[100%] flex justify-evenly items-center">
      <p class="hover:text-oliveGreen cursor-pointer about"><a href="about.html">About</a></p>
      <p class="hover:text-oliveGreen cursor-pointer contact"><a href="contact.html">Contact</a></p>
      <p class="text-oliveGreen cursor-pointer font-semibold">$0.00</p>
      <img class="h-[5vh]" src="Assets/icons8-basket-50.png" alt="icon2">
      <a href="profile.html"><img class="h-[5vh]" src="Assets/profile-user.png" alt="icon3"></a>
    </div>

  </div>
  <!-- body -->
  <!-- div1 -->

  <div class="w-[100vw] h-[25vh] flex flex-col justify-center items-center bg-slate-100">
    <h1 class="text-6xl font-bold text-black">Get In Touch</h1>
  </div>
  <div class="w-[100vw] flex justify-center items-center ">
    <img class="z-10 top-30  absolute" src="Assets/basil-leaf.png" alt="leaf">
  </div>

  <div class="w-[80vw] h-[40vh] flex justify-center items-center ml-36 "
    style="box-shadow: 0 0 16px rgba(36, 35, 35, 0.2);">
    <div class="w-[70vw] h-[35vh] flex justify-evenly items-center">
      <div class="w-[20vw] h-[25vh] border-2 border-slate-300 flex flex-col justify-center items-center">
        <img src="Assets/icons8-phone-30.png" alt="phone">
        <br>
        <label>
          <h2 class="text-xl font-normal">+123 456 7890</h2>
          <h2 class="text-xl font-normal">+123 456 7890</h2>
        </label>
      </div>
    </div>

    <div class="w-[70vw] h-[35vh] flex justify-evenly items-center">
      <div class="w-[20vw] h-[25vh] border-2 border-slate-300 flex flex-col justify-center items-center">
        <img src="Assets/icons8-envelope-50.png" alt="phone">
        <br>
        <label>
          <h2 class="text-xl font-normal ml-6">info@example.com</h2>
          <h2 class="text-xl font-normal">support@example.com</h2>
        </label>
      </div>
    </div>

    <div class="w-[70vw] h-[35vh] flex justify-evenly items-center">
      <div class="w-[20vw] h-[25vh] border-2 border-slate-300 flex flex-col justify-center items-center">
        <img src="Assets/icons8-location-50.png" alt="phone">
        <br>
        <label>
          <h2 class="text-xl font-normal">1569 GC, Navi Mumbai,</h2>
          <h2 class="text-xl font-normal ml-10">GG 10028, India</h2>
        </label>
      </div>
    </div>
  </div>

  <!-- div2 -->

  <br>
  <br>
  <div class="w-[100vw] h-[100vh] bg-cover bg-right-bottom flex flex-col justify-center items-center"
    style="background-image: url(Assets/5yhoof9q.png);">
    <h2 class="text-4xl font-medium">Frequently Asked Question!</h2>
    <img class="w-20 h-12 mt-4" src="Assets/logo-leaf-new.png" alt="icon4">
    <br>
    <br>
    <div class="w-[100vw] h-[60vh] flex justify-evenly items-center cursor-pointer ">
             <div class="w-[40vw] h-[40vh] ml-28">
              <div  class="w-[30vw] h-[10vh] flex justify-between items-center question"> 
                 <h2 class="text-xl font-medium">Pulvinar nostrud class cum facilis?</h2>
                 <img  class="w-[2vw] h-[3vh]" src="Assets/arrow-right.png" alt="icon">
              </div>
              <div  class="w-[30vw] h-[15vh] text-xl font-normal answer" style="display: none;">
                I am item content. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar leo. 
              </div>
              <br>
              <div class="w-[30vw] h-[10vh] flex justify-between items-center question" style="border-top: 1px solid black;">
                <h2 class="text-xl font-medium">Pulvinar nostrud class cum facilis?</h2>
                <img class="w-[2vw] h-[3vh]" src="Assets/arrow-right.png" alt="icon">
             </div>
             <div  class="w-[30vw] h-[15vh] text-xl font-normal answer" style="display: none;">
              I am item content. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar leo. 
            </div>
             <br>
             <div  class="w-[30vw] h-[10vh] flex justify-between items-center question"  style="border-top: 1px solid black;">
              <h2 class="text-xl font-medium">Pulvinar nostrud class cum facilis?</h2>
              <img class="w-[2vw] h-[3vh]" src="Assets/arrow-right.png" alt="icon">
             </div>
             <div class="w-[30vw] h-[15vh] text-xl font-normal answer" style="display: none;">
              I am item content. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar leo. 
            </div>

             </div>


             <div class="w-[40vw] h-[40vh] ">
              <div  class="w-[30vw] h-[10vh] flex justify-between items-center question" >
                 <h2 class="text-xl font-medium">Pulvinar nostrud class cum facilis?</h2>
                 <img class="w-[2vw] h-[3vh]" src="Assets/arrow-right.png" alt="icon">
              </div>
              <div  class="w-[30vw] h-[15vh] text-xl font-normal answer" style="display: none;">
                I am item content. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar leo. 
              </div>
              <br>
              <div  class="w-[30vw] h-[10vh] flex justify-between items-center question"  style="border-top: 1px solid black;">
                <h2 class="text-xl font-medium">Pulvinar nostrud class cum facilis?</h2>
                <img class="w-[2vw] h-[3vh]" src="Assets/arrow-right.png" alt="icon">
             </div>
             <div  class="w-[30vw] h-[15vh] text-xl font-normal answer" style="display: none;">
              I am item content. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar leo. 
            </div>
             <br>
             <div  class="w-[30vw] h-[10vh] flex justify-between items-center question"  style="border-top: 1px solid black;">
              <h2 class="text-xl font-medium">Pulvinar nostrud class cum facilis?</h2>
              <img class="w-[2vw] h-[3vh]" src="Assets/arrow-right.png" alt="icon">
             </div>
             <div  class="w-[30vw] h-[15vh] text-xl font-normal answer" style="display: none;">
              I am item content. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar leo. 
            </div>

             </div>
  </div>


  </div>
  <!-- div3 -->

  <div class="w-[100vw] h-[120vh] bg-black mt-10 flex justify-evenly items-center">
    <div class="w-[40vw] h-[100vh]">
      <img class="w-[15vw] h-[15vh] " src="Assets/organic-store-white-logo.png" alt="icon">
      <br>
      <br>
      <br>
      <h1 class="text-2xl font-extrabold text-slate-300">Maecenas mi justo, interdum at consectetur vel,</h>
        <h1 class="text-2xl font-extrabold text-slate-300">tristique et arcu. Ut quis eros blandit, ultrices diam,</h>
          <h1 class="text-2xl font-extrabold text-slate-300">elementum ex. Suspendisse quis faucibus urna.</h>
            <h1 class="text-2xl font-extrabold text-slate-300">Suspendisse pellentesque.</h>
    </div>

    <div class="w-[10vw] h-[100vh] ">
      <h2 class="text-[26px] font-bold text-white">Quick Links</h2>
      <br>

      <h1 class="text-2xl font-medium text-slate-300">About</h>
        <h1 class="text-2xl font-medium text-slate-300">Cart</h>
          <h1 class="text-2xl font-medium text-slate-300">Checkout</h>
            <h1 class="text-2xl font-medium text-slate-300">Contact</h>
              <h1 class="text-2xl font-medium text-slate-300">Home</h>
                <h1 class="text-2xl font-medium text-slate-300">Myaccount</h>
                  <h1 class="text-2xl font-medium text-slate-300">Shop</h>
                    <br>
                    <br>
                    <h2 class="text-[26px] font-bold text-white">Site Links</h2>
                    <br>

                    <h1 class="text-2xl font-medium text-slate-300">Privacy Policy</h>
                      <h1 class="text-2xl font-medium text-slate-300">Shipping Details</h>
                        <h1 class="text-2xl font-medium text-slate-300">Offers Coupons</h>
                          <h1 class="text-2xl font-medium text-slate-300">Terms & Conditions</h>


    </div>

    <div class="w-[20vw] h-[100vh] ">
      <h2 class="text-[26px] font-bold text-white">Download Our Mobile App</h2>
      <br>

      <h1 class="text-2xl font-medium text-slate-300">Lorem ipsum dolor sit amet,</h>
        <h1 class="text-2xl font-medium text-slate-300">consectetur adipiscing elit. Donec</h>
          <h1 class="text-2xl font-medium text-slate-300">aliquam gravida sollicitudin. Praesent</h>
            <h1 class="text-2xl font-medium text-slate-300">porta enim mi, non tincidunt libero</h>
              <h1 class="text-2xl font-medium text-slate-300">interdum sit amet.</h>
                <br>
                <br>
                <h2 class="text-[26px] font-bold text-white">Quick Links</h2>
                <br>
                <h1 class="text-2xl font-medium text-slate-300">Know Us More</h1>
                  <h1 class="text-2xl font-medium text-slate-300">Visit Store</h1>
                    <h1 class="text-2xl font-medium text-slate-300">Let’s Connect</h1>
                      <h1 class="text-2xl font-medium text-slate-300">Locate Stores</h1>

                        <div class="flex justify-evenly items-center w-[20vw] mt-10 ">
                          <img class="w-[128.9px] h-[37.58]" src="Assets/play-store.png" alt="img6">
                          <img class="w-[128.9px] h-[37.58]" src="Assets/app-store.png" alt="img7">
                        </div>
    </div>
  </div>
  
  <div class="w-[100vw] h-[15vh] flex justify-center items-center bg-black mt-[1px]">
    <h1 class="text-2xl font-medium text-slate-300">Copyright © 2024 | Organic Store</h1>
  </div>

  
  <script src="whole.js"></script>
  <script src="contact.js"></script>
</body>
</html>