<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link href="/css/output.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="overflow-x-hidden">
    <div id="nav" class="w-[100vw] h-[10vh] bg-slate-100 flex justify-between items-center">
        <div id="left" class="w-[30vw]  flex justify-evenly items-center">
            <img id="title" class="w-[10vw] h-[10vh] " src="Assets/organic-store-logo5.svg" alt="icon">
            <p class="hover:text-oliveGreen cursor-pointer"><a href="everything.html">Everything</a></p>
            <p class="hover:text-oliveGreen cursor-pointer"><a href="groceries.html">Groceries</a></p>
            <p class="hover:text-oliveGreen cursor-pointer"> <a href="juice.html">Juice</a></p>
        </div>
        <div id="right" class="w-[30vw] h-[100%] flex justify-evenly items-center">
            <p class="hover:text-oliveGreen cursor-pointer about"><a href="about.html">About</a></p>
            <p class="hover:text-oliveGreen cursor-pointer contact"><a href="contact.html">Contact</a></p>
            <p class="text-oliveGreen cursor-pointer font-semibold">$0.00</p>
            <img class="h-[5vh]" src="Assets/icons8-basket-50.png" alt="icon2">
            <a href="profile.html"><img class="h-[5vh]" src="Assets/profile-user.png" alt="icon3"></a>
        </div>

    </div>

    <!-- body -->
    <!-- div1 -->
    <div class="w-[100vw] h-[100vh] bg-cover bg-right-bottom" style="background-image: url(Assets/5yhoof9q.png);">
        <div class="w-[100vw] h-[25vh] bg-cover bg-center" style="background-image: url(Assets/profileimage.jpg);">
        </div>
        <div class="w-[100vw] flex justify-center items-center ">
            <img class="z-10 top-30  absolute w-[20vw] h-[20vh]" src="Assets/profile-user-svgrepo-com.svg" alt="leaf">
        </div>
        <br>

        <div class="w-[100vw] h-[50vh] flex flex-col justify-center items-center">
            <div class="w-[50vw] h-[8vh] border-2 border-solid border-oliveGreen flex items-center">
                <p class="text-3xl text-oliveGreen font-bold flex justify-center items-center ml-5">Name:</p>
                <p class="text-2xl text-black w-[10vw] font-medium flex justify-center items-center ml-10">Sahil Kamble
                </p>
            </div>
            <br>
            <div class="w-[50vw] h-[8vh] border-2 border-solid border-oliveGreen flex items-center">
                <p class="text-3xl text-oliveGreen font-bold flex justify-center items-center ml-5">Email:</p>
                <p class="text-2xl text-black w-[10vw] font-medium flex justify-center items-center ml-10">abc@gmail.com
                </p>
            </div>
            <br>
            <div class="w-[50vw] h-[8vh] border-2 border-solid border-oliveGreen flex items-center">
                <p class="text-3xl text-oliveGreen font-bold flex justify-center items-center ml-5">Mobile No:</p>
                <p class="text-2xl text-black w-[10vw] font-medium flex justify-center items-center ml-10">2948843037
                </p>
            </div>
        </div>

    </div>
    <div class="w-[100vw] h-[15vh] flex justify-evenly items-center">
        <div class="w-[15vw] h-[10vh] flex justify-evenly items-center bg-oliveGreen text-white text-2xl  font-semibold hover:bg-normgreen" style="border-radius: 40px;">
             WishList
        </div>
        <div class="w-[15vw] h-[10vh] flex justify-evenly items-center bg-oliveGreen text-white text-2xl  font-semibold hover:bg-normgreen" style="border-radius: 40px;">
            Order History
       </div>
       <div class="w-[15vw] h-[10vh] flex justify-evenly items-center bg-oliveGreen text-white text-2xl  font-semibold hover:bg-normgreen" style="border-radius: 40px;">
        Favorites
        </div>
    
     </div>




     <script src="whole.js"></script>

</body>

</html>