<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organic Store Login</title>
    <link href="/css/output.css" rel="stylesheet">
</head>

<body class="overflow-x-hidden">
    <div class="w-[100vw] h-[130vh] flex flex-col justify-center items-center bg-cover bg-left"
        style="background-image: url(Assets/login-background.jpg);">
        <img class="w-[20vw] h-[20vh]" src="Assets/organic-store-logo5.svg" alt="img1">
        <br>
        <div class="w-[60vw] h-[95vh] bg-white flex justify-center items-center" style="box-shadow: 0 0 10px black;">
            <div class="w-[20vw] h-[70vh] bg-contain " style="background-image: url(Assets/login-ogimage3.jpg);">
            </div>
            <div class="w-[35vw] h-[70vh]">


              <form method="post" action="/register.html">
                <input name="name" id="regusername" class="w-[25vw] h-[6vh] border-2 border-oliveGreen pl-5 ml-20 " type="text"
                    placeholder="Enter Name...">

                <input name="password" id="regpassword" class="w-[25vw] h-[6vh] border-2 border-oliveGreen pl-5 ml-20 mt-10"
                    type="password" placeholder="Enter Password...">

                <input id="regconfirmpassword" class="w-[25vw] h-[6vh] border-2 border-oliveGreen pl-5 ml-20 mt-10"
                    type="password" placeholder="Enter Confirm Password...">

                    <input name="email" id="email" class="w-[25vw] h-[6vh] border-2 border-oliveGreen pl-5 ml-20 mt-10"
                    type="email" placeholder="Enter Email...">
                    
                    <input name="phone" id="mobile" class="w-[25vw] h-[6vh] border-2 border-oliveGreen pl-5 ml-20 mt-10"
                    type="tel" placeholder="Enter Mobile no...">
                <br>
                <button id="reg_regbtn"
                    class="w-[25vw] h-[8vh] flex justify-center items-center text-white bg-oliveGreen rounded-[10px] ml-20 mt-10 hover:bg-normgreen text-xl font-semibold"
                    type="submit">Register</button>
                  </form>



                    <div class="w-[25vw] h-[6vh] flex justify-evenly items-center pl-5 ml-20 mt-10">
                          <img src="Assets/icons8-google.svg" alt="google">
                          <img src="Assets/icons8-facebook.svg" alt="facebook">
                          <img src="Assets/icons8-linkedin.svg" alt="linkedin">
                          <img src="Assets/icons8-twitterx.svg" alt="twitter">
                    </div>
            </div>
        </div>
    </div>

    <div class="w-[100vw] h-[120vh] bg-black  flex justify-evenly items-center">
        <div class="w-[40vw] h-[100vh]">
          <img class="w-[15vw] h-[15vh] " src="Assets/organic-store-white-logo.png" alt="icon">
          <br>
          <br>
          <br>
          <h1 class="text-2xl font-extrabold text-slate-300">Maecenas mi justo, interdum at consectetur vel,</h>
            <h1 class="text-2xl font-extrabold text-slate-300">tristique et arcu. Ut quis eros blandit, ultrices diam,</h>
              <h1 class="text-2xl font-extrabold text-slate-300">elementum ex. Suspendisse quis faucibus urna.</h>
                <h1 class="text-2xl font-extrabold text-slate-300">Suspendisse pellentesque.</h>
        </div>
    
        <div class="w-[10vw] h-[100vh] ">
          <h2 class="text-[26px] font-bold text-white">Quick Links</h2>
          <br>
    
          <h1 class="text-2xl font-medium text-slate-300">About</h>
            <h1 class="text-2xl font-medium text-slate-300">Cart</h>
              <h1 class="text-2xl font-medium text-slate-300">Checkout</h>
                <h1 class="text-2xl font-medium text-slate-300">Contact</h>
                  <h1 class="text-2xl font-medium text-slate-300">Home</h>
                    <h1 class="text-2xl font-medium text-slate-300">Myaccount</h>
                      <h1 class="text-2xl font-medium text-slate-300">Shop</h>
                        <br>
                        <br>
                        <h2 class="text-[26px] font-bold text-white">Site Links</h2>
                        <br>
    
                        <h1 class="text-2xl font-medium text-slate-300">Privacy Policy</h>
                          <h1 class="text-2xl font-medium text-slate-300">Shipping Details</h>
                            <h1 class="text-2xl font-medium text-slate-300">Offers Coupons</h>
                              <h1 class="text-2xl font-medium text-slate-300">Terms & Conditions</h>
    
    
        </div>
    
        <div class="w-[20vw] h-[100vh] ">
          <h2 class="text-[26px] font-bold text-white">Download Our Mobile App</h2>
          <br>
    
          <h1 class="text-2xl font-medium text-slate-300">Lorem ipsum dolor sit amet,</h>
            <h1 class="text-2xl font-medium text-slate-300">consectetur adipiscing elit. Donec</h>
              <h1 class="text-2xl font-medium text-slate-300">aliquam gravida sollicitudin. Praesent</h>
                <h1 class="text-2xl font-medium text-slate-300">porta enim mi, non tincidunt libero</h>
                  <h1 class="text-2xl font-medium text-slate-300">interdum sit amet.</h>
                    <br>
                    <br>
                    <h2 class="text-[26px] font-bold text-white">Quick Links</h2>
                    <br>
                    <h1 class="text-2xl font-medium text-slate-300">Know Us More</h1>
                      <h1 class="text-2xl font-medium text-slate-300">Visit Store</h1>
                        <h1 class="text-2xl font-medium text-slate-300">Let’s Connect</h1>
                          <h1 class="text-2xl font-medium text-slate-300">Locate Stores</h1>
    
                            <div class="flex justify-evenly items-center w-[20vw] mt-10 ">
                              <img class="w-[128.9px] h-[37.58]" src="Assets/play-store.png" alt="img6">
                              <img class="w-[128.9px] h-[37.58]" src="Assets/app-store.png" alt="img7">
                            </div>
        </div>
      </div>
      
      <div class="w-[100vw] h-[15vh] flex justify-center items-center bg-black mt-[1px]">
        <h1 class="text-2xl font-medium text-slate-300">Copyright © 2024 | Organic Store</h1>
      </div>

   <script src="register.js"></script>
</body>

</html>
